@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    height: 100%;
    background-color: royalblue;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    border: 1px solid red;
    width: 900px;
    height: 850px;
    display: flex;
    flex-direction: column;

}

.content{
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item{
    border: 1px solid blue;
    flex: 1;
}

a{
    color: white;
}