@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body *{
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #004494;
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 900px;
    height: 850px;
    display: flex;
    flex-direction: column;

}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.column{
    flex: 1;
    min-width: 300px;
}

a{
    color: white;
}

hr{
    width: 100%;
}